* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  border: 5px violet solid;
  min-height: 100vh;
}
.del {
  margin-left: 16px;
}

.done {
  text-decoration: line-through;
}
button {
  margin: 8px 0 24px;
}
h1 {
  margin-bottom: 32px;
}
h2 {
  margin-top: 16px;
}
p {
  font-size: 24px;
}
kbd {
  margin-top: auto;
}
.flex {
  display: flex;
}

.todosView {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px green solid;
  padding: 32px;
  width: 50%;
}
.todoCreator {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px orange solid;
  padding: 32px;
  width: 50%;
}
.todoCreator textarea {
  margin-top: 16px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
